<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="SqlConnection" connectionString="Data Source=(local);Initial Catalog= KAILAS_CS;Integrated security=True" />
	</connectionStrings>
	<appSettings>
		<add key="Admin" value="~/Core/Src/Admin/Dashboard.aspx" />
		<add key="Super" value="~/Core/Src/Super/Dashboard.aspx" />
		<add key="User" value="~/Core/Src/User/Dashboard.aspx" />
		<add key="LockedUser" value="~/Core/Src/User/UserProfile.aspx" />
		<add key="logoutUrl" value="~/Core/Src/User/UserProfile.aspx" />
		<!--<add key="LockedUser" value="~/Core/Src/User/UserProfileDetails.aspx" />
		<add key="logoutUrl" value="~/Core/Src/User/UserProfileDetails.aspx" />-->

		<add key="FromEmail" value="akprojectemail@gmail.com" />
		<add key="Password" value="emailproject" />
		<add key="Email" value="sruthipanathur@gmail.com" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />

		<authentication mode="Forms">
			<forms loginUrl="~/Core/Src/Public/Login.aspx" timeout="2880" />
		</authentication>

		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>

		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>

		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>

	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
		<defaultDocument>
			<files>
				<remove value="index.php" />
				<remove value="iisstart.htm" />
				<remove value="default.aspx" />
				<remove value="index.html" />
				<remove value="index.htm" />
				<remove value="Default.asp" />
				<remove value="Default.htm" />
				<add value="Core/Src/Public/Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--<system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Email" />
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>
